body{
	width: 96%;
}
*{
	margin: 0;
	padding: 0;
}
br.clear{
	clear: both;
}
h1{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#row{
	width: 100%;
	margin: 10px;
}
section.chicken , section.beef , section.sushi{
	width: 31.3%;
	min-height: 200px;
	overflow: hidden;
	border: 2px solid black;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
	background-color: #80808087;

}
div section h3.tag-chicken , div section h3.tag-beef , div section h3.tag-sushi{
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	padding: 2px 5px;
	float: right;

}
.tag-chicken{
	background-color: yellow;
}
.tag-beef{
	background-color: pink;
}
.tag-sushi{
	background-color: orange;
}
div p{
	margin-top: 30px;
	padding: 12px;
}
@media(min-width: 992px){

}
@media(min-width: 768px) and (max-width: 991px){
	h1{
		font-size: 20px;
	}
	section.beef , section.chicken, section.sushi{
		font-size: 17px;
	}
	section.beef , section.chicken{
		width: 45%;

	}
	section.chicken{
		margin-left: 30px;
	}
	section.sushi{
		width: 92%;
		margin-left: 30px;
		min-height: 140px;
	}
}
@media(max-width: 767px){
	h1{
		font-size: 16px;
	}
	section.beef , section.chicken , section.sushi{
		width: 90%;
		min-height: 140px;

	}
}
